@using ManagingRestaurant.Data
@using Microsoft.EntityFrameworkCore
@inject RestaurantContext _context
@model ManagingRestaurant.Models.Contact
@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}
<head>
	<link rel="stylesheet" type="text/css" href="~/css/contact/contactStyle.css">
	<link rel="stylesheet" type="text/css" href="~/css/contact/contactResponsive.css">
</head>
    <section class="main">
            <div class="container">
              <div class="row gx-5">
                <div class="col-12 col-sm-12 col-md-7 col-lg-6">
                  <div class="div-left">
                    <h1>Get In Touch With Starbelly</h1>
                    <p>
                      Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                      Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
                      eleifend tellus. Aenean leo ligula, porttitor eu.
                    </p>
                    <div class="contact">
                      <div class="img-first">
                        <img src="~/img/contact/Location.png" />
                        <p>Silk St, Barbican, London EC2Y 8DS, UK</p>
                      </div>
                      <div class="img-second">
                        <img src="~/img/contact/Message.png" />
                        <p>hellouihut@gmail.com<br />gmail1234@gmail.com</p>
                      </div>
                      <div class="img-third">
                        <img src="~/img/contact/Call.png" />
                        <p>+00-0000-00000<br />+01-0000-00000</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-5 col-lg-6">
                  <div class="div-right">
                        <form id="form-contact" asp-area="Contact" asp-controller="Home" asp-action="SubmitForm" method="post">
                            <div class="form_control">
                                <p>Your name *</p>
                                <input asp-for="@Model.UserName" class="name" type="text" oninput="showSuccess(this)" placeholder="Name" />
                                <small asp-validation-for="Name"></small>
                                <span></span>
                            </div>
                            <div class="form_control">
                                <p>Email address *</p>
                                <input asp-for="@Model.Email" class="email" type="email" oninput="showSuccess(this)" placeholder="Email Address" />
                                <small asp-validation-for="Email"></small>
                                <span></span>
                            </div>
                            <div class="form-control-textarea">
                                <p>Write review *</p>
                                <textarea asp-for="@Model.Message" oninput="showSuccess(this)" placeholder="Write your review"></textarea>
                                <small asp-validation-for="Review"></small>
                                <span></span>
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                  </div>
                </div>
              </div>
              <img src="~/img/contact/image 92.png" class="img-location" />
            </div>
          </section>
    </div>

    <script>
async function postData(url = "", data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        headers: {
            "Content-Type": "application/json",
            
            // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        

        body: JSON.stringify(data), // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
}
 async function Contact (){
    
      const form = document.getElementById("form-contact");
      form.addEventListener("submit", async function (event) {
        event.preventDefault();
        const formData = new FormData(form);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });
        if (data["__RequestVerificationToken"]){
            delete data["__RequestVerificationToken"];
        }
        const result = await postData("/Contact/Home/Create", data);
        alert(result.message);
        
       });
}
Contact();
</script>


