@{
    ViewData["Title"] = "Home Page";
}

<!-- Section -->
<section class="introduction" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="introduction__content">
                    <p class="introduction__content-intro">Hi, new friend!</p>
                    <h1 class="introduction__content__title">We do not cook, we create your emotions!</h1>
                    <p class="introduction__content__desc">There's evidence that cooking, like other creative practices, can boost well-being, self-esteem, and other measures of mental health.</p>
                    <a href="#menu" class="introduction__content__link">Our menu</a>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="introduction__thumbnail">
                    <div class="introduction__thumbnail-main">
                        <a href="#" class="introduction__thumbnail__price">Price:$11</a>
                        <img src="/img/home/image89.png" alt="">
                    </div>
                    <div class="introduction__thumbnail-sub">
                        <img src="/img/home/image90.png" alt="">
                        <img src="/img/home/image77.png" alt="">
                        <img src="/img/home/image91.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner -->
<section class="banner">
    <div class="banner__item">
        <div class="banner__item-number">06</div>
        <div class="banner__item-content">Number Restaurant</div>
    </div>
    <div class="banner__item">
        <div class="banner__item-number">68</div>
        <div class="banner__item-content">New Food Menu Dishes</div>
    </div>
    <div class="banner__item">
        <div class="banner__item-number">36</div>
        <div class="banner__item-content">Years of experience</div>
    </div>
</section>

<!-- Popular -->
<section class="popular" id="pages">
    <div class="container overflow-hidden">
        <div class="popular__heading">
            <h2>Most popular food</h2>
            <p>A list of most popular Bangladeshi food including mains, drinks, and deserts you must try while in Bangladesh, for an authentic experience. Check now!</p>
        </div>
        <div class="popular__img">
            <div class="row gx-5 gy-5">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="popular__img-item">
                        <div class="popular__img-item__thumbnail">
                            <img src="/img/home/Rectangle10.png" alt="Schezwan Noodles">
                        </div>
                        <div class="popular__img-item__desc">
                            <div class="popular__img-item__desc-title">
                                <h3>Schezwan Noodles</h3>
                                <span class="item__price">$49</span>
                            </div>
                            <p>Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                            <div class="order">
                                <a href="shopping.html" class="order__link">
                                    Order Now
                                </a>
                                <div class="order__star">
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="popular__img-item">
                        <div class="popular__img-item__thumbnail">
                            <img src="/img/home/Rectangle20.png" alt="Schezwan Noodles">
                        </div>
                        <div class="popular__img-item__desc">
                            <div class="popular__img-item__desc-title">
                                <h3>Schezwan Noodles</h3>
                                <span class="item__price">$49</span>
                            </div>
                            <p>Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                            <div class="order">
                                <a href="shopping.html" class="order__link">
                                    Order Now
                                </a>
                                <div class="order__star">
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="#828282">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="popular__img-item">
                        <div class="popular__img-item__thumbnail">
                            <img src="/img/home/Rectangle30.png" alt="Schezwan Noodles">
                        </div>
                        <div class="popular__img-item__desc">
                            <div class="popular__img-item__desc-title">
                                <h3>Schezwan Noodles</h3>
                                <span class="item__price">$49</span>
                            </div>
                            <p>Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                            <div class="order">
                                <a href="shopping.html" class="order__link">
                                    Order Now
                                </a>
                                <div class="order__star">
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                    <div class="order__star__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="#828282">
                                            <path d="M10.0489 0.927053C10.3483 0.00574231 11.6517 0.00573993 11.9511 0.927051L13.6942 6.29179C13.828 6.70382 14.212 6.98278 14.6452 6.98278H20.2861C21.2548 6.98278 21.6576 8.22239 20.8738 8.7918L16.3103 12.1074C15.9598 12.362 15.8132 12.8134 15.947 13.2254L17.6902 18.5902C17.9895 19.5115 16.935 20.2776 16.1513 19.7082L11.5878 16.3926C11.2373 16.138 10.7627 16.138 10.4122 16.3926L5.84869 19.7082C5.06498 20.2776 4.0105 19.5115 4.30985 18.5902L6.05296 13.2254C6.18683 12.8134 6.04018 12.362 5.68969 12.1074L1.12616 8.7918C0.342451 8.22239 0.745225 6.98278 1.71395 6.98278H7.35477C7.788 6.98278 8.17196 6.70382 8.30583 6.2918L10.0489 0.927053Z" fill="#FB8F2C" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular__linkAll">
            <a href="shopping.html">Explore All Food</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                <path d="M1 5.5H17M17 5.5C15.4848 5.26 12.4545 4.024 12.4545 1M17 5.5C15.4848 5.74 12.4545 6.976 12.4545 10" stroke="#FB8F2C" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</section>

<!-- Contact -->
<section class="contact">
    <div class="container">
        <div class="row g-0">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="contact__left">
                    <h4 class="contact__left__title">Find us gere</h4>
                    <div class="contact__left-desc">
                        <p class="contact__left__address">Avenue Marina 34568 NY (U.S)</p>
                        <p class="contact__left__tel">+0123 456 7890</p>
                        <p class="contact__left__email">hellouihut@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="contact__right">
                    <h4>Openning Times</h4>
                    <table>
                        <tr>
                            <td>Mon</td>
                            <td>17:00 to 23:00</td>
                        </tr>
                        <tr>
                            <td>Wed</td>
                            <td>19:00 to 24:00</td>
                        </tr>
                        <tr>
                            <td>Thu</td>
                            <td>14:00 to 18:00</td>
                        </tr>
                        <tr>
                            <td>Fr</td>
                            <td>16:00 to 24:00</td>
                        </tr>
                        <tr>
                            <td>Sat/Sun</td>
                            <td>20:00 to 4:00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Menu -->
<section class="menu" id="menu">
    <div class="container overflow-hidden">
        <div class="menu__title">
            <span>Our menu</span>
            <h2>Choose & Taste What You Like </h2>
            <p>A list of top Bangladeshi food including mains, drinks, and deserts you must try while in Bangladesh, for an authentic experience. Check now!</p>
        </div>
        <div class="menu__nav">
            <div class="menu__navbar">
                <ul>
                    <li class="menu__navbar-list"><button onclick="filterProduct(this)" class="mainColor" type="All">All</button></li>
                    <li class="menu__navbar-list"><button onclick="filterProduct(this)" type="Appetizer">Appetizer</button></li>
                    <li class="menu__navbar-list"><button onclick="filterProduct(this)" type="Soup">Soup</button></li>
                    <li class="menu__navbar-list"><button onclick="filterProduct(this)" type="Dessert">Dessert</button></li>
                    <li class="menu__navbar-list"><button onclick="filterProduct(this)" type="Foods">Foods</button></li>
                </ul>
            </div>
            <div class="menu__list">
                <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 g-0">
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/ChawliBeansandMintBurger.png" alt="Chawli Beans and Mint Burger" type="Foods">
                                </div>
                                <h4>Chawli Beans and Mint Burger</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$11</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/RawChickenFilletGarlic.png" alt="Raw Chicken Fillet Garlic" type="Appetizer">
                                </div>
                                <h4>American Chopsuey, Jain Recipe</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$25</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/AmericanChopsueyJainRecipe.png" alt="American Chopsuey, Jain Recipe" type="Dessert">
                                </div>
                                <h4>Paneer Nuggets, Quick Paneer Deep-friedr</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$16</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/MakaiShorbaThickCornSoup.png" alt="Makai Shorba, Thick Corn Soup" type="Soup">
                                </div>
                                <h4>Stir Fried Mixed Vegetables in Butter</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$14</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/PaneerNuggetsQuickPaneerDeep-fried.png" alt="Paneer Nuggets, Quick Paneer Deep-fried" type="Foods">
                                </div>
                                <h4>Raw Chicken Fillet Garlic</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$15</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/HealthySalmonPowerBowl.png" alt="Healthy Salmon Power Bowl" type="Soup">
                                </div>
                                <h4>Makai Shorba, Thick Corn Soup</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$09</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/StirFriedMixedVegetablesinButter.png" alt="Stir Fried Mixed Vegetables in Butter" type="Foods">
                                </div>
                                <h4>Healthy Salmon Power Bowl</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$23</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="menu__list__item">
                            <div class="menu__list__item-about">
                                <div class="list__item-about-img">
                                    <img src="/img/home/PaneerNCheeseRoll(WrapsandRolls).png" alt="Paneer N Cheese Roll  ( Wraps and Rolls)" type="Appetizer">
                                </div>
                                <h4>Paneer N Cheese Roll  (&nbsp;Wraps and Rolls)</h4>
                            </div>
                            <div class="menu__list__item-price">
                                <span>$10</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Visit -->
<section class="visit">
    <div class="container">
        <div class="visit__content">
            <h2>Visit Our Restaurant</h2>
            <p>Quality country-style menu selection, friendly and efficient service, combined with genuine value has kept Our Best serving families like yours for over 28.</p>
        </div>
        <div class="visit__thumbnail">
            <div class="visit__thumbnail-owl">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="/img/home/Rectangle77.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/home/Rectangle78.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/home/Rectangle80.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/home/Rectangle79.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/home/Rectangle81.png" alt="">
                    </div>
                </div>
            </div>
            <div class="visit__thumbnail-item1">
                <div class="item">
                    <img src="/img/home/Rectangle77.png" alt="">
                </div>
                <div class="item">
                    <img src="/img/home/shawnanggg-nmpW_WwwVSc-unsplash.jpg" alt="">
                </div>
            </div>
            <div class="visit__thumbnail-item2">
                <div class="item">
                    <img src="/img/home/Rectangle80.png" alt="">
                </div>
            </div>
            <div class="visit__thumbnail-item3">
                <div class="item">
                    <img src="/img/home/Rectangle79.png" alt="">
                </div>
                <div class="item">
                    <img src="/img/home/Rectangle81.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reservation -->
<section class="reservation" id="reservation">
    <div class="container">
        <div class="reservation__container">
            <div class="row g-0">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="reservation__content">
                        <div class="reservation__content-title">
                            <h3>Reserve ! Book Now</h3>
                        </div>
                        <div class="reservation__content-book">
                            <a href="shopping.html">Book now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="reservation__thumbnail">
                        <img src="/img/home/Rectangle9.png" alt="">
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="99" height="87" viewBox="0 0 99 87" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.7241 6.34066L16.6422 34.7151C15.3892 37.0515 12.1735 37.4396 10.3916 35.4694L4.26724 27.0692V38.9139C4.26724 40.0821 3.31199 41.0291 2.13362 41.0291C0.955254 41.0291 0 40.0821 0 38.9139L0.762498 23.1222C0.762498 22.2457 1.30784 21.46 2.13362 21.1467C2.95941 20.8335 3.89452 21.0576 4.48475 21.7103L12.7783 31.4403L29.3984 1.57301C30.7525 -0.951969 34.5728 -0.295974 34.9914 2.53338L37.4799 29.8908L70.5511 9.20502C71.3107 8.72988 72.2892 8.77723 72.9985 9.32345C73.7078 9.86967 73.9962 10.7978 73.7197 11.645L65.8869 35.6458L95.9217 20.9422C96.8064 20.5091 97.8754 20.7339 98.5065 21.4859C99.1377 22.2379 99.1663 23.3208 98.5757 24.1046L75.5509 54.6614L95.1271 50.3853C96.0837 50.1763 97.0609 50.64 97.4969 51.5096C97.9328 52.3792 97.7155 53.4313 96.9698 54.061L75.1925 71.981C74.7211 72.3689 74.7541 73.1003 75.2585 73.4443L82.5471 78.4144C83.0351 78.874 83.2757 79.5349 83.1963 80.1974C83.1169 80.86 82.7268 81.4466 82.1438 81.78L71.7613 86.7166C70.7406 87.3004 69.4358 86.9533 68.8469 85.9415C68.2581 84.9296 69.3888 84.3391 70.4095 83.7554L77.537 79.531L71.7613 74.0915C70.475 72.8801 70.5311 70.8309 71.8816 69.6904L91.319 53.7202L72.6058 59.2116C69.1307 59.9707 67.4265 56.8873 69.556 54.061L89.8301 28.6424L63.4793 41.2116C61.111 42.3711 58.5016 40.1363 59.3147 37.645L67.8464 15.8988L39.2023 33.8154C36.8532 35.2848 33.7561 33.8724 33.3531 31.148L30.7241 6.34066Z" fill="#FFCA0E" />
            </svg>
        </div>
    </div>
</section>

<!-- Daily -->
<section class="daily">
    <div class="container">
        <h2>Our Daily Offers</h2>
        <div class="daily__content">
            <div class="row gy-5">
                <div class="col-lg-6">
                    <div class="daily-lunch">
                        <span>Lunch Time</span>
                        <div class="daily-lunch__title">
                            <span class="daily-lunch__title-number">
                                30%
                            </span>
                            <span class="daily-lunch__title-off">
                                off
                            </span>
                        </div>
                        <p>We love food, lots of different and food, just like you.</p>
                        <a href="#">Order Now</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="daily-list">
                        <div class="row row-cols-1 g-0">
                            <div class="col">
                                <div class="daily-list__item">
                                    <div class="daily-list__item-img">
                                        <img src="/img/home/Rectangle28.png" alt="">
                                    </div>
                                    <div class="daily-list__item-content">
                                        <div class="daily-list__item-content-title">
                                            <span>Spicy Club</span>
                                            <span>$42</span>
                                        </div>
                                        <p>Pork, chcken and vegetable fried rolls served with lettuce wraps</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="daily-list__item">
                                    <div class="daily-list__item-img">
                                        <img src="/img/home/Rectangle29.png" alt="">
                                    </div>
                                    <div class="daily-list__item-content">
                                        <div class="daily-list__item-content-title">
                                            <span>Almond baked Brie</span>
                                            <span>$38</span>
                                        </div>
                                        <p>Pork, chcken and vegetable fried rolls served with lettuce wraps</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="daily-list__item">
                                    <div class="daily-list__item-img">
                                        <img src="/img/home/Rectangle31.png" alt="">
                                    </div>
                                    <div class="daily-list__item-content">
                                        <div class="daily-list__item-content-title">
                                            <span>Tuscan Flatbread</span>
                                            <span>$49</span>
                                        </div>
                                        <p>Pork, chcken and vegetable fried rolls served with lettuce wraps</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advertisement">
    <div class="advertisement__list">
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#66EAB3" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon1.png" alt="Super Taste">
            </div>
            <h4>Super Taste</h4>
        </div>
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#C0FF59" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon2.png" alt="Self Services">
            </div>
            <h4>Self Services</h4>
        </div>
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#66EAB3" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon3.png" alt="Best Food">
            </div>
            <h4>Best Food</h4>
        </div>
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#DDFF0E" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon4.png" alt="Fast Delivery">
            </div>
            <h4>Fast Delivery</h4>
        </div>
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#66EAB3" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon1.png" alt="Super Taste">
            </div>
            <h4>Super Taste</h4>
        </div>
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#C0FF59" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon2.png" alt="Self Services">
            </div>
            <h4>Self Services</h4>
        </div>
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#66EAB3" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon3.png" alt="Best Food">
            </div>
            <h4>Best Food</h4>
        </div>
        <div class="advertisement__item">
            <div class="advertisement__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="55" viewBox="0 0 56 55" fill="none">
                    <path d="M26.8642 1.50713C27.4332 0.752118 28.5668 0.752119 29.1358 1.50713L33.2799 7.00608C33.6577 7.50742 34.3195 7.70175 34.9084 7.48426L41.3676 5.09872C42.2545 4.77118 43.2081 5.38406 43.2786 6.32684L43.7919 13.1933C43.8387 13.8193 44.2904 14.3406 44.9034 14.476L51.6269 15.9613C52.5501 16.1652 53.021 17.1964 52.5706 18.0276L49.2901 24.0816C48.991 24.6335 49.0892 25.3163 49.5316 25.7616L54.3848 30.6461C55.0512 31.3167 54.8899 32.4388 54.0616 32.8946L48.0288 36.2139C47.4788 36.5165 47.1923 37.144 47.3237 37.7578L48.7658 44.4908C48.9638 45.4152 48.2214 46.2719 47.2782 46.2075L40.4085 45.7384C39.7822 45.6956 39.202 46.0685 38.9807 46.656L36.5537 53.0997C36.2205 53.9845 35.1328 54.3038 34.3741 53.7397L28.8486 49.631C28.3449 49.2565 27.6551 49.2565 27.1514 49.631L21.6259 53.7397C20.8672 54.3038 19.7795 53.9845 19.4463 53.0997L17.0193 46.656C16.798 46.0685 16.2178 45.6956 15.5915 45.7384L8.72182 46.2075C7.77861 46.2719 7.03624 45.4152 7.23424 44.4908L8.67625 37.7578C8.80772 37.144 8.52118 36.5165 7.97117 36.2139L1.93843 32.8946C1.11013 32.4388 0.948798 31.3167 1.61515 30.6461L6.46836 25.7616C6.91083 25.3163 7.00899 24.6335 6.70991 24.0816L3.42941 18.0276C2.97899 17.1964 3.44992 16.1652 4.37307 15.9613L11.0966 14.476C11.7096 14.3406 12.1613 13.8193 12.2081 13.1933L12.7214 6.32684C12.7919 5.38406 13.7455 4.77118 14.6324 5.09872L21.0916 7.48426C21.6805 7.70175 22.3423 7.50742 22.7201 7.00608L26.8642 1.50713Z" fill="#DDFF0E" stroke="#111114" stroke-width="1.42222" />
                </svg>
                <img src="/img/home/icon4.png" alt="Fast Delivery">
            </div>
            <h4>Fast Delivery</h4>
        </div>
    </div>
</section>

<!-- Chef -->
<section class="chef">
    <div class="container overflow-hidden">
        <div class="chef__title">
            <h2>They will cook for you</h2>
            <p>Our Diners can enjoy cooking for themselves, or visiting a curated selection of restaurants in the area. They will cook for you and make sure you have a home away from home at all times.</p>
        </div>
        <div class="chef__content">
            <svg xmlns="http://www.w3.org/2000/svg" width="104" height="104" viewBox="0 0 104 104" fill="none">
                <path d="M65.914 46.2363C87.8767 46.936 104 49.2515 104 52C104 54.7485 87.8767 57.064 65.914 57.7637C80.9494 73.788 90.713 86.8263 88.7694 88.7694C86.8263 90.713 73.788 80.9494 57.7637 65.9144C57.064 87.8767 54.7485 104 52 104C49.2515 104 46.936 87.8767 46.2363 65.914C30.2119 80.9494 17.1739 90.713 15.2305 88.7694C13.287 86.8263 23.0505 73.788 38.0855 57.7637C16.1231 57.064 0 54.7485 0 52C0 49.2515 16.1231 46.936 38.0855 46.2363C23.0505 30.2119 13.287 17.1739 15.2304 15.2305C17.1739 13.287 30.2119 23.0506 46.2363 38.0858C46.936 16.1231 49.2515 0 52 0C54.7485 0 57.064 16.1231 57.7637 38.0855C73.788 23.0505 86.8263 13.287 88.7694 15.2304C90.713 17.1739 80.9494 30.2119 65.914 46.2363Z" fill="#FFCA0E" />
            </svg>
            <div>
                <div class="row gx-5 gy-5">
                    <div class="col-lg-4">
                        <div class="chef__content-item">
                            <img src="/img/home/Rectangle82.png" alt="Jubed Ahmed">
                            <div class="check__content-about">
                                <h4>Jubed Ahmed</h4>
                                <span>Chef</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chef__content-item">
                            <img src="/img/home/Rectangle83.png" alt="Delwar hussen">
                            <div class="check__content-about">
                                <h4>Delwar hussen</h4>
                                <span>Assisten chef</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chef__content-item">
                            <img src="/img/home/Rectangle84.png" alt="Tajul Islam">
                            <div class="check__content-about">
                                <h4>Tajul Islam</h4>
                                <span>Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog -->
<section class="blog" id="blog">
    <div class="container overflow-hidden">
        <div class="blog__title">
            <p>Our blog</p>
            <h2>Recent Articles</h2>
        </div>
        <div class="blog__content">
            <div class="blog__content__top">
                <div class="row gx-5 gy-4">
                    <div class="col-lg-6">
                        <div class="blog__content-img">
                            <img src="/img/home/Rectangle1.png" alt="The Most Expensive Cup of Coffee in the Usa">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog__content-desc">
                            <span>August 6, 2022</span>
                            <h4>The Most Expensive Cup of Coffee in the Usa</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauatium, totam rem aperiam perspiciatis unde omnis.</p>
                            <div class="blog__content-user">
                                <span class="blog__content-user__comment">Comments 165</span>
                                <span class="blog__content-user__views">View 1265</span>
                            </div>
                            <div class=""><a href="blog.html">Read Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog__content__bottom">
                <div class="row gx-5 gy-4">
                    <div class="col-lg-6 order-lg-2">
                        <div class="blog__content-img">
                            <img src="/img/home/Rectangle2.png" alt="Chicken Soup With Spring Veggies Aand Pasta">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="blog__content-desc">
                            <span>August 6, 2022</span>
                            <h4>Chicken Soup With Spring Veggies Aand Pasta</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauatium, totam rem aperiam perspiciatis unde omnis.</p>
                            <div class="blog__content-user">
                                <span class="blog__content-user__comment">Comments 165</span>
                                <span class="blog__content-user__views">View 1265</span>
                            </div>
                            <div class=""><a href="blog.html">Read Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular__linkAll">
                <a href="blog.html">Explore All Blogs</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
                    <path d="M1 5.5H17M17 5.5C15.4848 5.26 12.4545 4.024 12.4545 1M17 5.5C15.4848 5.74 12.4545 6.976 12.4545 10" stroke="#FB8F2C" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</section>

<!-- Banner new letter -->
<section class="banner letter">
    <div class="letter__left">
        <h4>Newsletter</h4>
        <p>Subscribe to our newsletter and receive 15% discount from your order.</p>
    </div>
    <div class="letter__right">
        <a href="#">Enter your email address</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="26" viewBox="0 0 56 26" fill="none">
            <path d="M1 13H55M55 13C50.9091 12.36 42.7273 9.064 42.7273 1M55 13C50.9091 13.64 42.7273 16.936 42.7273 25" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
</section>
