﻿@using Microsoft.AspNetCore.Identity
@using ManagingRestaurant.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <div class="nav navbar-nav navbar-right table-reservation">
            <a class="nav-link table-reservation__login" asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">Xin chào @UserManager.GetUserName(User)!</a>
            <button type="submit" class="nav-link table-reservation__login">Đăng xuất</button>
        </div>
    </form>
}
else
{
    <div class="nav navbar-nav navbar-right table-reservation">
        <a class="nav-link table-reservation__login" asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
        <a class="nav-link table-reservation__login" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        <a href="shopping.html" class="nav-link table-reservation__reserve">Table Reservation</a>
    </div>
}

@* <div class="table-reservation">
                 <a class="table-reservation__login" style="text-decoration : none" asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
                 <a class="table-reservation__login" style="text-decoration : none" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                 <a href="shopping.html" class="table-reservation__reserve">
                     Table Reservation
                 </a>
</div> *@