@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if (result.Succeeded)
{
    <div class="dropdown">
        <a class="btn btn-outline-danger dropdown-toggle" href="#"
           id="managedropdownmenu" data-toggle="dropdown">
            Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
            <li>
                <a class="dropdown-item" asp-action="IndexHome" asp-controller="Home" asp-area="Admin">
                    Page Admin
                </a>
            </li>
        </div>
    </div>
}